---
import "../styles/index.css";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<main class="max-w-[1000px] p-[26px] m-auto">
			<section class="w-full">
				<article
					class="article"
					style="--article-bg: url(https://cdn.discordapp.com/attachments/1152239048220475516/1187732063739203605/d.webp)"
				>
					<div class="z-10 p-[16px] absolute bottom-0 left-0">
						<small>LOTERIA NADAL 2023</small>
						<h2 class="text-[25px] font-bold max-w-[500px]">
							Comprova el teu dècim de la loteria de nadal 2023
						</h2>
					</div>
					<div class="opacity-bg"></div>
				</article>
			</section>
		</main>
	</body>
</html>
