---
import "../styles/index.css"
---

<!doctype html>
<html lang="es-CA">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>seubdn</title>
		<link rel="icon" href="/seubdn.webp" />
	</head>
	<body class="font-sans">
		<nav class="max-w-[1000px] p-[26px] m-auto">
			<a href="/">
				<img src="/seubdn.webp" alt="Logo de seubdn" class="w-[62px] h-[62px]" />
			</a>
		</nav>
		<main class="max-w-[1000px] p-[26px] m-auto">
			<section class="w-full flex flex-col">
				<a
					href="/"
					class="article"
					style="--article-bg: url(https://cdn.discordapp.com/attachments/1152239048220475516/1187732063739203605/d.webp)"
				>
					<div class="z-10 p-[16px] absolute bottom-0 left-0">
						<small class="text-blue-200 font-semibold">LOTERIA NADAL 2023</small>
						<h2 class="text-[30px] font-bold max-w-[500px]">
							Comprova el teu dècim de la loteria de nadal 2023
						</h2>
						<p class="text-slate-200 text-[14px] font-normal">Erik</p>
					</div>
					<div class="opacity-bg"></div>
				</a>
			</section>
		</main>
	</body>
</html>
