---
import "../styles/index.css"
import Article from "../components/article.astro"
---

<!doctype html>
<html lang="es-CA">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>seubdn</title>
		<link rel="icon" href="/seubdn.webp" />
	</head>
	<body class="font-sans">
		<nav class="max-w-[1000px] p-[26px] m-auto">
			<a href="/">
				<img src="/seubdn.webp" alt="Logo de seubdn" class="w-[62px] h-[62px]" />
			</a>
		</nav>
		<main class="max-w-[1000px] p-[26px] m-auto">
			<section class="w-full flex flex-col">
				<Article 
					title="Neu 25 decembre del 1962"
					topic="METEO"
					author="Erik"
					thumbnail="https://img.beteve.cat/wp-content/uploads/2021/12/VPA-la-gran-nevada-del-1962-ok.jpg"
				/>
			</section>
		</main>
	</body>
</html>
