---
interface Props {
    title: string
    topic: string
    thumbnail: string
    author: string
}

const { title, topic, author, thumbnail } = Astro.props
---
<a
	href="/"
	class="article"
	style={`--article-bg: url(${thumbnail})`}
>
	<div class="z-10 p-[16px] absolute bottom-0 left-0">
		<small class="text-blue-200 font-semibold">{topic}</small>
		<h2 class="text-[30px] font-bold max-w-[500px]">
			{title}
		</h2>
		<p class="text-slate-200 text-[14px] font-normal">{author}</p>
	</div>
	<div class="opacity-bg"></div>
</a>
